// Variables
$blue: #2192ff;
$yellow: #ffcb43;
$darkgreen: #38e54d;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.firebase-emulator-warning {
  display: none;
}
