@import "../../styles.scss";

.metadata-tag {
  font-size: 0.6em;
  border: 0.5px solid gray;
  border-radius: 3px;
  padding: 1px 6px;
  text-align: center;
  color: gray;
  margin: 0 2px;
  @media screen and (min-width: 500px) {
    font-size: 0.8em;
  }
}

.metadata-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
