@import "../../styles.scss";

.title {
  padding-top: 2px;
  font-size: 1.2em;

  @media screen and (min-width: 500px) {
    margin-top: -4px;
  }
}

.about-box {
  padding-bottom: 4px;
  color: darkgrey;
  font-weight: bolder;
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 500px) {
    font-size: 1.3em;
  }
}
