@import "../../styles.scss";

.each-workout-container {
  border: 1px solid lightgray;
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 3px lightgrey;
}

.time-stamp {
  padding: 5px;
  text-align: left;
}
