@import "../../styles.scss";

.outer-auth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.sign-in-container {
  border: 1px solid lightgrey;
  padding: 40px;
  text-align: justify;
  box-shadow: 2px 2px 4px lightgrey;

  @media screen and (min-width: 500px) {
    max-width: 60%;
  }
}

.button-container {
  align-self: center;
  margin-top: 30px;
}
